<div class="form">
  <%= form_for :session, url: sessions_path do |f| %>
    <div>
        <%= f.label :email do %>
          <span class="label">Email</span>
          <%= f.text_field :email, placeholder: :email %>
        <% end %>
    </div>
    <div>
        <%= f.label :password do %>
          <span class="label">Password</span>
          <%= f.password_field :password, placeholder: :password %>
        <% end %>
    </div>
    <div>
      <%= f.label :remember_me do %>
        <span class="label">Rester connecté</span>
        <span class="note">
          <p>Garde la session active sur cet ordinateur.</p>
        </span>
        <%= f.check_box :remember_me %>
      <% end %>
    </div>
    <div class="buttons">
      <%= f.button %>
    </div>

  <% end %>
</div>
