<%= form_for [@group, @meeting] do |f| %>

  <%= render 'error_messages', object: f.object %>

  <%= f.label :date %>
  <%= f.date_select :date %>

  <%= f.label :attending_member_ids %>
  <%= f.collection_check_boxes :attending_member_ids, @meeting.group.members, :id, :full_name %>

  <%= f.label :external_member_ids %>
  <%= f.select :external_member_ids, @meeting.external_members, { prompt: t("members.select") }, { multiple: true, class: "selectize-member" } %>

  <%= f.fields_for :files, (@meeting.files.build unless @meeting.files.any?) do |file_f| %>
    <div class="fields-for">
      <div class="files-fields">
        <%= file_f.label :name %>
        <%= file_f.text_field :name %>

        <%= file_f.label :file %>
        <%= file_f.file_field :file %>

        <%= file_f.hidden_field :_destroy, identifier: "destroy" %>

        <button class="remove-fields" data-type="files">Supprimer</button>
      </div>

      <button class="add-fields" data-type="files" data-count="<%= @meeting.files.count %>">
        Ajouter un fichier
      </button>
    </div>

  <% end %>

  <%= f.submit %>

<% end %>