<%= render 'back_button', path: meetings_path if rights? :read, "meetings" %>

<h1><%= t(".title") %></h1>

<form>
  <%= label :meeting, :group_id %>
  <%= collection_select :meeting, :group_id, Group.all, :id, :name %>
</form>

<button type="button" id="choose-group-meeting"><%= t(".continue") %></button>