<%= render 'back_button', path: meetings_path %>

<h1><%= t("meeting.edit.title", date: l(@meeting.date, format: :long), group: @meeting.group.name) %></h1>

<%= link_to t("views.meetings.show.edit"), edit_meeting_path(@meeting) %>

<%= l @meeting.date, format: :long %>
<% @meeting.attending_members.each do |member| %>
  <%= member.full_name %>
<% end %>
<% @meeting.external_members.each do |member| %>
  <%= member.full_name %>
<% end %>