<%= render 'back_button', path: meetings_path if rights? :read, "meetings" %>

<h1><%= t(".title", date: l(@meeting.date, format: :long), group: @meeting.group.name) %></h1>

<%= link_to t(".group"), group_path(@meeting.group) if can? :read, "groups", @meeting.group %>
<%= link_to t(".edit"), edit_meeting_path(@meeting) if can? :update, "meetings", @meeting %>

<%= l @meeting.date, format: :long %>

<span class="member-count"><%= @meeting.attending_members.size + @meeting.external_members.size %></span>

<% @meeting.attending_members.each do |member| %>
  <%= member.full_name %>
<% end %>

<% @meeting.external_members.each do |member| %>
  <%= member.full_name %>
<% end %>

<div id="files">
  <% @meeting.files.each do |file| %>
    <%= file.name %>
  <% end %>
</div>