<%= render 'back_button', path: groups_path if rights? :read, "groups" %>

<h1><%= @group.name %></h1>

<%= link_to t(".show"), group_path(@group) if can? :read, @group %>

<div class="form">
  <%= form_for @group, remote: true do |f| %>
    <%= render 'fields', f: f %>
  <% end %>
</div>

<% if can? :add, "groups" %>

  <%= form_tag add_group_path(@group), remote: true do %>
    
    <%= select_tag :member_id, nil, prompt: t("members.select"), class: "selectize-member", id: "member_id" %>

    <%= label_tag :status %>
    <%= select_tag :status, options_for_enum(GroupMember.new, :status) %>

    <%= submit_tag t(".add") %>

  <% end %>

<% end %>

<%= render 'members' %>