<%= render 'back_button', path: groups_path if rights? :read, "groups" %>

<h1><%= t('.title') %></h1>

<%= form_for @group do |f| %>

  <%= render 'error_messages', object: f.object %>

  <%= render 'fields', f: f %>

<% end %>