<div class="form">
  <%= form_for @user do |f| %>
    <%= render 'error_messages', object: f.object %>
    <div>
      <%= f.label :current_password do |label| %>
        <%= label %>
        <%= f.password_field :current_password %>
      <% end %>
    </div>
    <div>
      <%= f.label :password do |label| %>
        <%= label %>
        <%= f.password_field :password %>
      <% end %>
    </div>
    <div>
      <%= f.label :password_confirmation do |label| %>
        <%= label %>
        <%= f.password_field :password_confirmation %>
      <% end %>
    </div>
    <div class="buttons">
      <%= f.button %>
    </div>
  <% end %>
</div>
