<div class="form">
  <%= form_for @event do |f| %>

    <%= render 'error_messages', object: f.object %>

    <div>
      <%= f.label :visibility do |label| %>
        <%= label %>
        <%= f.select :visibility, options_for_enum(@event, :visibility)  %>
      <% end %>
    </div>

    <div>
      <%= f.label :title do |label| %>
        <%= label %>
        <%= f.text_field :title %>
      <% end %>
    </div>

    <div>
      <%= f.label :description do |label| %>
        <%= label %>
        <%= f.text_field :description %>
      <% end %>
    </div>

    <div id="picker">
      De:
      <%= f.datepicker_field :dstart, :start %>
      <%= f.timepicker_field :tstart, :start %>
      A:
      <%= f.datepicker_field :dend, :end %>
      <%= f.timepicker_field :tend, :end %>
    </div>

    <div>
      <%= f.label :location do |label| %>
        <%= label %>
        <%= f.text_field :location %>
      <% end %>
    </div>

    <div>
      <%= f.label :url do |label| %>
        <%= label %>
        <%= f.text_field :url %>
      <% end %>
    </div>

    <%= f.fields_for @event.recurrence do |recurrence_f| %>

      <div>
        <%= recurrence_f.label :frequence do |label| %>
          <%= label %>
          <%= recurrence_f.select :frequence, Recurrence::FREQUENCES.map{ |e| [t("events.frequences.#{e}"), e] },
          { include_blank: true } %>
        <% end %>
      </div>
      <div>
        <%= recurrence_f.label :monthly do |label| %>
          <%= label %>
          <% (1..5).each do |n| %>
            <%= recurrence_f.check_box :monthly, { :multiple => true, checked: n.in?(@event.recurrence.monthly) }, n, nil %>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= recurrence_f.label :count do |label| %>
          <%= label %>
          <%= recurrence_f.number_field :count %>
        <% end %>
      </div>
      <div>
        <%= recurrence_f.label :until do |label| %>
          <%= label %>
          <%= recurrence_f.datepicker_field :until %>
        <% end %>
      </div>

    <% end %>

    <div class="buttons">
      <%= f.button %>
    </div>

  <% end %>
</div>
