<div class="form">
  <%= form_for @event do |f| %>

    <%= render 'error_messages', object: f.object %>

    <div>
      <%= f.label :title do |label| %>
        <%= label %>
        <%= f.text_field :title %>
      <% end %>
    </div>

    <div>
      <%= f.label :description do |label| %>
        <%= label %>
        <%= f.text_field :description %>
      <% end %>
    </div>

    <div>
      <%= f.label :dtstart do |label| %>
        <%= label %>
        <%= f.datetime_select :dtstart %>
      <% end %>
    </div>

    <div>
      <%= f.label :dtend do |label| %>
        <%= label %>
        <%= f.datetime_select :dtend %>
      <% end %>
    </div>

    <div>
      <%= f.label :location do |label| %>
        <%= label %>
        <%= f.text_field :location %>
      <% end %>
    </div>

    <div>
      <%= f.label :url do |label| %>
        <%= label %>
        <%= f.text_field :url %>
      <% end %>
    </div>

    <%= f.fields_for @event.recurrence do |recurrence_f| %>

      <div>
        <%= recurrence_f.label :frequence do |label| %>
          <%= label %>
          <%= recurrence_f.select :frequence, Recurrence::FREQUENCES.map{ |e| [t("events.frequences.#{e}"), e] }, 
          { include_blank: true } %>
        <% end %>
      </div>
      <div>
        <%= recurrence_f.label :monthly do |label| %>
          <%= label %>
          <%= recurrence_f.select :monthly, %w(1 2 3 4 5), { include_blank: true } %>
        <% end %>
      </div>
      <div>
        <%= recurrence_f.label :count do |label| %>
          <%= label %>
          <%= recurrence_f.number_field :count %>
        <% end %>
      </div>
      <div>
        <%= recurrence_f.label :until do |label| %>
          <%= label %>
          <%= recurrence_f.datetime_select :until, { include_blank: true, default: nil } %>
        <% end %>
      </div>

    <% end %>

    <div class="buttons">
      <%= f.button %>
    </div>

  <% end %>
</div>