<div class="header-print">
  <p><%= image_tag image_url("agenda/header-logo.png") %> Edité par le service communication</p>
</div>

<div id="options-menu">
  <div class="open-close">
    <a href="#">fermer</a><br>
    <a href="#options-menu"><%= image_tag 'agenda/settings.svg', class: 'settings' %></a>
  </div>
  <div class="wrapper">
    <div class="left">
      <h3>Catégories</h3>
      <form id="categories-form" data-values="<%= @categories.values %>">
        <% @categories.each do |key, value| %>
          <%= label_tag t("event.categories.#{key}") %>
          <input ng-click="updateCategories($event)" type="checkbox" value="<%= value %>" checked>
        <% end %>
      </form>
      <h3>Actions</h3>
      <button ng-click="updateCalendar()">Mettre à jour</button>
    </div>
    <div class="right">
      <div>
        <% if signed_in? %>
          <%= current_user.name %>
        <% else %>
          <%= link_to t("header.user.login"), login_path %>
        <% end %>
      </div>
      <div>
        Ajoutez l'agenda de l'église dans votre propre agenda :<br>
        https://agenda.eebulle.ch/api/icalendar
      </div>
    </div>
  </div>
</div>

<div id="fixed" infinite-scroll-up infinite-scroll-down month-name open-pop-up>

  <div class="header">
    <div class="first-row">
      <div id="loading-events" ng-show="loading">
        <%= image_tag image_url "layout/loading_gears.svg" %>
      </div>
      <div class="month">
        {{ currentMonth }} {{ currentYear }}
      </div>
    </div>
    <ul>
      <li>lundi</li>
      <li>mardi</li>
      <li>mercredi</li>
      <li>jeudi</li>
      <li>vendredi</li>
      <li>samedi</li>
      <li>dimanche</li>
    </ul>
  </div>

  <div class="week-container">
    <div ng-repeat="week in weeks" month-attributes="{{ week.month }}" class="week">
      <ul>
        <li ng-repeat="(date, day) in week" ng-if="$index < 7" day-attributes
          day="{{ day.number }}" date="{{ date }}" month="{{ week.month }}" index="{{ $index }}">
          <p class="day-number"><span>{{ day.number }}</span></p>
          <div ng-repeat="event in day.events">
            <button pop-up-open class="entry {{ event.category }}">
              <div pop-up="event" class="pop-up"></div>
              <img ng-if="event.category === 'organization'" src="<%= image_url('agenda/category/organization.svg') %>">
              <img ng-if="event.rrule.length" src="<%= image_url('agenda/category/reccurent.svg') %>">
              {{ event.title }}
            </button>
          </div>
        </li>
      </ul>
      <div class="month-name">{{ week.month }}</div>
    </div>
  </div>
</div>

<div id="loading" ng-hide="weeks.length">
  <%= image_tag image_url "layout/loading_gears.svg" %>
</div>
