<div class="form">
  <%= form_for @followup do |f| %>

    <%= render 'error_messages', object: f.object %>

    <div>
      <%= f.label :member_id do |label| %>
        <%= label %>
        <%= f.select :member_id, [@followup.member.try(:full_name), @followup.member_id], 
        { prompt: t("members.select") }, { class: "selectize-member" } %>
      <% end %>
    </div>
    <div>
      <%= f.label :counselor_id do |label| %>
        <%= label %>
        <%= f.select :counselor_id, [@followup.counselor.try(:full_name), @followup.counselor_id], 
        { prompt: t("members.select") }, { class: "selectize-member" } %>
      <% end %>
    </div>
    <div>
      <%= f.label :date do |label| %>
        <%= label %>
        <%= f.date_select :date %>
      <% end %>
    </div>
    <div>
      <%= f.label :reason do |label| %>
        <%= label %>
        <%= f.select :reason, options_for_enum(@followup, :reason) %>
      <% end %>
    </div>
    <div>
      <%= f.label :place do |label| %>
        <%= label %>
        <%= f.select :place, options_for_enum(@followup, :place) %>
      <% end %>
    </div>
    <div>
      <%= f.label :duration do |label| %>
        <%= label %>
        <%= f.number_field :duration %>
      <% end %>
    </div>
    <div>
      <%= f.label :notes do |label| %>
        <%= label %>
        <%= f.text_area :notes %>
      <% end %>
    </div>

    <div class="buttons">
      <%= f.button %>
    </div>

  <% end %>
</div>