<%= render 'back_button', path: followups_path %>

<h1><%= t(".title", user: @followup.member.full_name) %></h1>

<%= link_to t(".edit"), edit_followup_path(@followup) if can? :update, @followup %>

<ul>
  <li><%= @followup.member.full_name %></li>
  <li><%= @followup.counselor.full_name %></li>
  <li><%= @followup.duration %></li>
  <li><%= l @followup.date, format: :long %></li>
  <li><%= t("followup.places.#{@followup.place}") %></li>
  <li><%= t("followup.reasons.#{@followup.reason}") %></li>
  <li><%= @followup.notes %></li>
<ul>