<div id="sidenav" class="layout layout-col">
  <div id="tool-title" class="layout">
    <div>
      <%= yield :tool_title %>
    </div>
  </div>
  <div id="tool-content" class="flex">
    <div id="sidebar" class="list-items">
      <%= link_to t("header.dashboard"), dashboard_path if signed_in? %>
      <%= link_to t("header.members"), members_path if rights? :read, "members" %>
      <%= link_to t("header.followups"), followups_path if rights? :read, "followups" %>
      <%= link_to t("header.groups"), groups_path if rights? :read, "groups" %>
      <%= link_to t("header.meetings"), meetings_path if rights? :read, "meetings" %>
      <%= link_to t("header.events"), events_path if rights? :read, "events" %>
      <%= link_to t("header.users"), users_path if rights? :read, "users" %>
      <%= link_to t("header.permissions"), "/adeia/permissions" if rights? :read, "adeia/permissions" %>
    </div>
  </div>
</div>
