<!DOCTYPE html>
<html>
<head>
  <title>Syncedchurch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="layout layout-col">

  <%= render 'layouts/topbar' %>
  <div id="layout-content" class="flex layout layout-row">
    <%= render 'layouts/sidenav' %>
    <%= render 'layouts/content_container' %>
  </div>
<!--
  <%= render 'layouts/flash' %>

  <%= render 'layouts/sidebar' %>

  <%= render 'layouts/footer' %> -->

</body>
</html>
