<!DOCTYPE html>
<html>
<head>
  <title>Syncedchurch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="layout layout-col">

  <div id="main-login" class="<%=yield(:id)%>">
    <%= render 'layouts/flash' %>
    <%= yield %>
  </div>

</body>
</html>
