<div class="form">
  <%= form_for @member do |f| %>

    <%= render 'error_messages', object: f.object %>

    <div>
      <%= f.label :gender do |label| %>
        <%= label %>
        <%= f.select :gender, options_for_enum(@member, :gender)  %>
      <% end %>
    </div>

    <div>
      <%= f.label :lastname do |label| %>
        <%= label %>
        <%= f.text_field :lastname %>
      <% end %>
    </div>

    <div>
      <%= f.label :firstname do |label| %>
        <%= label %>
        <%= f.text_field :firstname %>
      <% end %>
    </div>

    <div>
      <%= f.label :birthday do |label| %>
        <%= privatize_check_box_tag("birthday") %> <%= label %>
        <%= f.date_select :birthday, { :start_year => Date.today.year, :end_year => 110.years.ago.year } %>
      <% end %>
    </div>

    <div>
      <%= f.label :adress do |label| %>
        <%= privatize_check_box_tag("adress") %> <%= label %>
        <%= f.text_field :adress %>
      <% end %>
    </div>

    <div>
      <%= f.label :npa do |label| %>
        <%= privatize_check_box_tag("npa") %> <%= label %>
        <%= f.number_field :npa %>
      <% end %>
    </div>

    <div>
      <%= f.label :city do |label| %>
        <%= privatize_check_box_tag("city") %> <%= label %>
        <%= f.text_field :city %>
      <% end %>
    </div>

    <div>
      <%= f.label :job do |label| %>
        <%= label %>
        <%= f.text_field :job %>
      <% end %>
    </div>

    <div>
      <%= f.label :email do |label| %>
        <%= privatize_check_box_tag("email") %> <%= label %>
        <%= f.email_field :email %>
      <% end %>
    </div>

    <div>
      <%= f.label :extra do |label| %>
        <%= label %>
        <%= f.text_area :extra %>
      <% end %>
    </div>

    <%= f.fields_for :family, (@member.build_family if @member.family.nil?) do |family_f| %>

      <div>
        <%= family_f.label :lastname do |label| %>
          <%= label %>
          <%= family_f.text_field :lastname %>
        <% end %>
      </div>

    <% end %>

    <div>
      <%= f.label :role do |label| %>
        <%= label %>
        <%= f.select :role, options_for_enum(@member, :role) %>
      <% end %>
    </div>

    <%= f.fields_for :phones, (@member.phones.build unless @member.phones.any?) do |phone_f| %>
      <div class="fields-for wrap">
        <div class="phones-fields wrap">

          <div>
            <%= phone_f.label :number do |label| %>
              <%= phone_f.check_box :private, class: "inline" %> <%= label %>
              <%= phone_f.text_field :number %>
            <% end %>
          </div>

          <div>
            <%= phone_f.label :phone_type do |label| %>
              <%= label %>
              <%= phone_f.select :phone_type, options_for_enum(phone_f.object, :phone_type) %>
            <% end %>
          </div>

          <%= phone_f.hidden_field :_destroy, identifier: "destroy" %>

          <button type="button" class="remove-fields grey-button" data-type="phones">Supprimer</button>
        </div>

        <button  type="button" class="add-fields grey-button" data-type="phones" data-count="<%= @member.phones.size %>">
          Ajouter un numéro
        </button>
      </div>

    <% end %>

    <div class="buttons">
      <%= f.button %>
    </div>

  <% end %>
</div>
