<h1><%= t('member.new.title') %></h1>

<%= form_for @member do |f| %>

  <%= render 'error_messages', object: f.object %>

  <%= f.label :gender %>
  <%= f.select :gender, options_for_select(Member.genders.map {|k, v| [ t("genders.#{k}"), k ]}) %>

  <%= f.label :lastname %>
  <%= f.text_field :lastname %>

  <%= f.label :firstname %>
  <%= f.text_field :firstname %>

  <%= f.label :birthday %>
  <%= f.date_select :birthday, { :start_year => Date.today.year, :end_year => 110.years.ago.year } %>
  <%= check_box_tag "member[private][]", "birthday" %>

  <%= f.label :adress %>
  <%= f.text_field :adress %>
  <%= check_box_tag "member[private][]", "adress" %>

  <%= f.label :npa %>
  <%= f.number_field :npa %>
  <%= check_box_tag "member[private][]", "npa" %>

  <%= f.label :city %>
  <%= f.text_field :city %>
  <%= check_box_tag "member[private][]", "city" %>

  <%= f.label :job %>
  <%= f.text_field :job %>

  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= check_box_tag "member[private][]", "email" %>

  <%= f.label :extra %>
  <%= f.text_area :extra %>

  <%= f.fields_for :family, (@member.build_family if @member.family.nil?) do |family_f| %>

    <%= family_f.label :lastname %>
    <%= family_f.text_field :lastname %>

  <% end %>

  <%= f.label :role %>
  <%= f.select :role, options_for_select(Member.roles.map {|k, v| [ t("roles.#{k}"), k ]}) %>

  <%= f.fields_for :phones, (@member.phones.build unless @member.phones.any?) do |phone_f| %>
    <div class="fields-for">
      <div class="phones-fields">
        <%= phone_f.label :phone_type %>
        <%= phone_f.select :phone_type, options_for_select(Phone.phone_types.map {|k, v| [ t("phones.#{k}"), k ]}) %>

        <%= phone_f.label :number %>
        <%= phone_f.text_field :number %>

        <%= phone_f.hidden_field :_destroy, identifier: "destroy" %>

        <button class="remove-fields" data-type="phones">Supprimer</button>
      </div>

      <button class="add-fields" data-type="phones" data-count="<%= @member.phones.count %>">
        Ajouter un numéro
      </button>
    </div>

  <% end %>

  <%= f.submit %>

<% end %>