<h1><%= @member.full_name %></h1>

<ul>
  <li><%= t("genders.#{@member.gender}") %></li>
  <li><%= l(@member.birthday, format: :long) %></li>

  <% unless @member.family.nil? %>
    <li><%= t("roles.#{@member.role}") %> <%= t("views.members.show.in_the_family") %> <%= @member.family.lastname %></li>
  <% end %>

  <ul>
    <% @member.phones.each do |phone| %>
      <li><%= t("phones.#{phone.type}") %></li>
      <li><%= phone.number %></li>
    <% end %>
  </ul>
<ul>