<%= render 'back_button', path: members_path if rights? :read, "members" %>

<h1><%= @member.full_name %></h1>

<%= link_to t(".edit"), edit_member_path(@member) if can? :update, @member %>

<ul>
  <li><%= t("member.genders.#{@member.gender}") %></li>
  <li><%= l(@member.birthday, format: :long) %></li>

  <% unless @member.family.nil? %>
    <li><%= t(".family", role: t("member.roles.#{@member.role}"), family: @member.family.lastname) %></li>
  <% end %>

  <ul>
    <% @member.phones.each do |phone| %>
      <li><%= t("phone.phone_types.#{phone.type}") %></li>
      <li><%= phone.number %></li>
    <% end %>
  </ul>
<ul>

<% if rights? :read, "followups" %>
  <div id="followups">

    <% @member.followups.each do |followup| %>

      <%= l followup.date, format: :long %>
      <%= link_to ".followups.edit", edit_followup_path(followup) if rights? :edit, "followups" %>

    <% end %>
  </div>
<% end %>