<%= render 'back_button', path: members_path %>

<h1><%= @member.full_name %></h1>

<%= link_to t(".edit"), edit_member_path(@member) %>

<ul>
  <li><%= t("member.genders.#{@member.gender}") %></li>
  <li><%= l(@member.birthday, format: :long) %></li>

  <% unless @member.family.nil? %>
    <li><%= t(".family", role: t("member.roles.#{@member.role}"), family: @member.family.lastname) %></li>
  <% end %>

  <ul>
    <% @member.phones.each do |phone| %>
      <li><%= t("phone.phone_types.#{phone.type}") %></li>
      <li><%= phone.number %></li>
    <% end %>
  </ul>
<ul>

<div id="followups">

  <% @member.followups.each do |followup| %>

    <%= l followup.date, format: :long %>

  <% end %>

</div>