<%= render 'back_button', path: members_path %>

<h1><%= @member.full_name %></h1>

<%= link_to t("views.members.show.edit"), edit_member_path(@member) %>

<ul>
  <li><%= t("member.genders.#{@member.gender}") %></li>
  <li><%= l(@member.birthday, format: :long) %></li>

  <% unless @member.family.nil? %>
    <li><%= t("views.members.show.family", role: t("member.roles.#{@member.role}"), family: @member.family.lastname) %></li>
  <% end %>

  <ul>
    <% @member.phones.each do |phone| %>
      <li><%= t("phone.phone_types.#{phone.type}") %></li>
      <li><%= phone.number %></li>
    <% end %>
  </ul>
<ul>